@model IEnumerable<WebApp.Models.ImovelViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Imoveis</h1>

<p>
    <a asp-action="Criar" class="btn btn-primary">Criar Novo</a>
</p>

<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Nome da cidade
            </th>
            <th>
                Nome do bairro
            </th>
            <th>
                Quantidade de quartos
            </th>
            <th>
                Valor do aluguel
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                <div class="btn-group">
                    @Html.ActionLink("Alterar", "Alterar", new { id = item.id }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Detalhar", "Detalhar", new { id = item.id }, new { @class = "btn btn-outline-info" })
                    @Html.ActionLink("Excluir", "Excluir", new { id = item.id }, new { @class = "btn btn-outline-danger", @onClick = "javascript:return" + " confirm('Confirma a Exclusão?')" })
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>